{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% include 'partials/flash/msg_flash.html.twig' %}
            <h3 class="font-weight-bold text-uppercase">{% trans %}Forgot your password{% endtrans %}</h3>
            <p class="lead">{% trans %}You will receive by email the instructions to reset your password{% endtrans %}</p>
            <br>
            {{ form_start(formResetPass) }}
            <div class="form-group">
                <label for="inpet-required">{% trans %}Your address mail{% endtrans %}</label>
                {{ form_widget(formResetPass.email) }}
            </div>
            <input class="btn btn-bold btn-block btn-primary" type="submit" value="Envoyer le mail" />
            {{ form_end(formResetPass) }}
            <hr class="w-30px">
            <p class="text-center text-muted fs-13"><a class="text-primary fw-500" href="{{ path('app_login') }}">{% trans %}Return to the home page{% endtrans %}</a></p>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% trans %}Forgot your password{% endtrans %}
{% endblock %}

