{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% include 'partials/flash/msg_flash.html.twig' %}
            <h3 class="font-weight-bold text-uppercase">Mot de passe oublié</h3>
            <p class="lead">Vous allez recevoir par mail les instructions pour réinitialiser votre mot de passe.</p>
            <br>
            {{ form_start(formResetPass) }}
            <div class="form-group">
                <label for="inpet-required">Votre email</label>
                {{ form_widget(formResetPass.email) }}
            </div>
            <input class="btn btn-bold btn-block btn-primary" type="submit" value="Envoyer le mail" />
            {{ form_end(formResetPass) }}
            <hr class="w-30px">
            <p class="text-center text-muted fs-13"><a class="text-primary fw-500" href="{{ path('app_login') }}">Revenir à la page d’accueil</a></p>
        </div>
    </div>
{% endblock %}

{% block title %}
    Mot de passe oublié
{% endblock %}

