{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="colo-md-6 mx-auto">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            <h3 class="font-weight-bold text-uppercase">Réinitialiser son mot de passe</h3>
            <br>
            <form method="post" class="form-type-combine" id="formBtnDisable">
                <div class="form-group">
                    <label for="inputPassword">Nouveau mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Confirmer mot de passe</label>
                    <input type="password" name="confirmPassword" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <input class="btn btn-bold btn-block btn-primary" type="submit" value="Valider le mot de passe"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block title %}
    Réinitialiser le mot de passe
{% endblock %}

