{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show">
            {{ message | trans }}
        </div>
    {% endfor %}
{% endfor %}