<div class="modal fade manageModal" id="manageModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {{ form_start(formAjax, { 'attr': { 'class': 'json-form', 'enctype': 'multipart/form-data' } }) }}
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{% trans %}Edit this role{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% set formChildren = formAjax.children %}
                {% for input in formChildren %}
                    {% if input.vars.name not in ['_token'] %}
                        <div class="form-group">
                            {{ form_label(input) }}
                            {{ form_widget(input, { 'attr': { 'class': 'form-control' } }) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" role="button" class="btn btn-outline-danger" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="submit" role="button" class="btn btn-outline-success">{% trans %}Save{% endtrans %}</button>
            </div>
            {{ form_end(formAjax) }}
        </div>
    </div>
</div>