td.checkbox-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

td.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: none;
}
        
td.checkbox-container input:checked ~ .checkmark {
    background-color: #19A972;
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

td.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

td.checkbox-container .checkmark:after {
    left: 30px;
    top: 2px;
    width: 15px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
